<ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-light" ng-click="cancel()">
        Cancel
    </button>
    <h1 class="title">详情</h1>

</ion-header-bar>
<ion-content class="padding">
    <ng-include src="'templates/basicInfo.html'"></ng-include>
    <button class="button icon-left ion-star button-light" ng-if="!star" ng-click="fav()">收藏</button>
    <button class="button icon-left ion-star button-light" ng-if="star" ng-click="unfav()">取消收藏</button>
    <div class="button-bar">
        <a class="button button-clear" ng-click="showBookInfo()">图书信息</a>
        <a class="button button-clear" ng-click="showReview()">笔记</a>
        <a class="button button-clear" ng-click="showLibInfo()">馆藏信息</a>
    </div>

    <div ng-show='bookInfo' class="animate-show">
        <section class="block">
            <h6>内容简介</h6>
            <p>{{book.summary}}</p>
        </section>
        <section class="block">
            <h6>作者简介</h6>
            <p>{{book.author_intro}}</p>
        </section>
        <section class="block">
            <h6>目录</h6>
            <p>{{catalog}}</p>
        </section>
    </div>
    <div ng-show='review' class="animate-show">

        <ul class="list">
            <span>{{err}}</span>
            <li ng-repeat="ann in annotations">
                <a class="item" ui-sref="annDetail({id:ann.id})">
                    <h6>发表时间：{{ann.time}}</h6>
                    <h6>第{{ann.page_no}}页</h6>
                    <p>{{ann.summary}}</p>
                </a>
            </li>
            <ion-infinite-scroll
                    on-infinite="loadReview()"
                    distance="1%"
                    ng-if="moreDataCanBeLoaded()">
            </ion-infinite-scroll>
        </ul>

    </div>
    <div ng-show='libInfo' class="animate-show">

        <span>{{err}}</span>
        <ul class="items">
            <li ng-repeat="inlib in inlibs" class="item">

                <ol>
                    <li>索书号:{{inlib['索书号']}}</li>
                    <li>年卷期:{{inlib['年卷期']}}</li>
                    <li>校区—馆藏地:{{inlib['校区—馆藏地']}}</li>
                    <li>书刊状态:{{inlib['书刊状态']}}</li>
                </ol>
            </li>
        </ul>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </div>

</ion-content>

